<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyh.cstore.mapper.UserMapper">
    <resultMap id="userMap" type="com.hyh.cstore.entity.User">
        <id column="uid" property="uid"/>
        <result column="is_delete" property="isDelete"/>
        <result column="created_user" property="createdUser"/>
        <result column="created_time" property="createdTime"/>
        <result column="modified_user" property="modifiedUser"/>
        <result column="modified_time" property="modifiedTime"/>
    </resultMap>
    <insert id="insert" useGeneratedKeys="true" keyProperty="uid">
        INSERT INTO store.t_user(uid, username, password, salt, phone, email, gender, avatar, is_delete, created_user, created_time, modified_user, modified_time)
        VALUES (#{uid}, #{username}, #{password}, #{salt}, #{phone}, #{email}, #{gender}, #{avatar}, #{isDelete}, #{createdUser}, #{createdTime}, #{modifiedUser}, #{modifiedTime})
    </insert>
    <select id="findByName" resultMap="userMap">
        SELECT uid, username, password, salt, phone, email, gender, avatar, is_delete, created_user, created_time, modified_user, modified_time from store.t_user where username=#{username}
    </select>
    <update id="updatePasswordByUid">
        UPDATE store.t_user SET password=#{password},modified_user=#{modifiedUser},modified_time=#{modifiedTime} WHERE uid=#{uid}
    </update>
    <select id="findByUid" resultMap="userMap">
        SELECT uid, username, password, salt, phone, email, gender, avatar, is_delete, created_user, created_time, modified_user, modified_time from store.t_user where uid=#{uid}
    </select>
    <update id="changeInfoByUid">
        UPDATE store.t_user
        SET
        <if test="phone != null">phone=#{phone},</if>
        <if test="email != null">email=#{email},</if>
        <if test="gender != null">gender=#{gender},</if>
            modified_time=#{modifiedTime},
            modified_user=#{modifiedUser}
        WHERE uid=#{uid}
    </update>
    <update id="updateAvatarByUid">
        UPDATE store.t_user
        SET avatar=#{avatar}, modified_user=#{modifiedUser}, modified_time=#{modifiedTime}
        WHERE uid=#{uid}
    </update>
</mapper>